* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
  
  .flex-container {
    display:flex; 
    
  }
 
  div {text-align: left;}
 
header {display: inline }



ul{ display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

li {
  display: inline;
}

  nav a {
    
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
   background-color: var(--primary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }

  nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }
 

  h2 {text: color; var(--primary); 
font-weight: bolder; 
background-color: var(--secondary);
font: size 200px;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 5px solid var(--secondary);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-top: 0.5em;}
 
aside {text-align: left;
text:var(--primary)}

 flex container header { position: relative
  text-align: right;
  flex-wrap: 
  align;right: auto
  margin;{ 50px}
  padding {10} 
  background-color: var(--primary);
  color: var(--secondary); 
}

  body  {
    margin: 10;
    padding: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
    
 
   

  
main { 
   background:linear-gradient(0deg, 
   var(--transblue), var(--transblue)) 
  
  
  }